<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Me</title>
</head>
<body>
    <h2>CONTACT ME</h2>
    <h3>Thanks for visiting my site and check the homework</h3>
    <h3>Before you text me, please read through my guidelines below</h3>
    <p>
        1. Make sure you know exactly what we will talking about
        2. Try to guest my number phone and facebook account
        Hope to see you soon my friend :))
    </p>
        <div>
            - Fullname: TTT
            - Education: ???
            - Work experience: Not yet
            - Location: Ha Noi
            - Martial Status: None
            - Quote: Be kind
            - Email: abc@gmail.com
            - Phone: 0123456789
            - Birthday: 01/01/1998
        </div>
{#        <div>#}
{#            My profile:#}
{#            {% for inf in contacts %}#}
{#                {{ inf["image"] }}#}
{#                - Fullname: {{ inf["Full Name"] }}#}
{#                - Education: {{ inf["Education"] }}#}
{#                - Work experience: {{ inf["Work Experiences"] }}#}
{#                - Location: {{ inf["Location"] }}#}
{#                - Martial Status: {{ ["Status"] }}#}
{#                - Quote: {{ inf["Quote"] }}#}
{#                - Email: {{ inf["Email"] }}#}
{#                - Phone: {{ inf["Phone No."] }}#}
{#                - Birthday: {{ inf["D.O.B"] }}#}
{#            {% endfor %}#}
{#        </div>#}

    <div>
        {% for i in info %}
    </div>
</body>
</html>